@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Qwigley&display=swap');

* {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

.hero {
  background-color: #111;
}

.logo {
  font-family: 'Qwigley', cursive;
  font-size: 3rem;
  color: #fffdfa;
}

.logo-icon {
  color: #ffd700;
}
